.card {
    width: 90%;
    max-width: 700px;
}

.space {
    padding-top: 140px;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; 
    outline: none !important;
    box-shadow: none;
}